<div id="<%= dom_id incident %>">
  <p>
    <strong>Title:</strong>
    <%= incident.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= incident.description %>
  </p>

  <p>
    <strong>Severity:</strong>
    <%= incident.severity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= incident.state %>
  </p>

  <p>
    <strong>Resolved At:</strong>
    <%= incident.resolved_at %>
  </p>
</div>
